html
  head
    title!= title
    link(href='bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  body
    h1!= message
    script(src='jquery/dist/jquery.min.js')
    script(src='bootstrap/dist/js/bootstrap.min.js')
